@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
    background-color: #353535;
    /* background: linear-gradient(to right, rgb(121, 120, 120) , rgb(69, 69, 69));  */
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.app__container {
    margin-top: 10%;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

/************ Navbar ************/
nav {
    box-sizing: border-box;
    
}

#navbar {
    border-bottom: solid 2px #fff;
    width: 50%;
}

.nav__links-li {
    list-style: none;
    display: inline;
    margin-left: 10px; 
    font-size: 18px;
}

a:-webkit-any-link {
    text-decoration: none;
    color: #fff; 
}

a:-webkit-any-link:hover {
    text-decoration-color: #ffea82;
    /* color: #d9c76d; */
}

.nav__links-li:hover {
    text-decoration: underline;
    text-decoration-color: #ffea82;
}
/*********************************/


/************ Social Media ************/
.media__links {
    list-style: none;
    display: flex;
}

#media__links-li {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#media__links-li:hover {
    background-color: #d9c76d;
}
/*********************************/


#home__p-two {
    color: #828282;
}

u {
    color: #d9c76d;
    text-decoration-color: #fff;
}

span.Typewriter__wrapper {
    font-size: 40px
}

span.Typewriter__cursor {
    font-size: 30px
  
}

.Typewriter__cursor {
    color: #d9c76d;
}

/* .circle__one {
    border-color:#d9c76d;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    top:0;
    left:0;
}

.circle__two {
    border-color:#d9c76d;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    top:0;
    left:0;
}

.circle__three {
    border-color:#d9c76d;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    top:0;
    left:0;
} */


/*************  About  *************/

.about__container {
    background-color:#2d2d2d;
    padding:20px;
    border: solid 1.5px white;
}

.skills__container {
    display: flex;
    justify-content: space-around;
}

.bio__content {
    font-size: 20px;
}
